*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 8px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.warning{
    text-align: center;
    color: red;
    font-weight: bold;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.inpt{
    margin: 5px;
    padding: 10px;
    width: 13%;
    flex-shrink: 1;
    border-color:rgb(236, 164, 164) ;
    border-width: 0.7px;
    border-radius: 2px;
}

#btn{
   background-color: rgb(236, 164, 164);
   border-color:rgb(236, 164, 164) ;
   color: #fff;
}

.playerBoard{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(236, 164, 164);
    margin: 5px auto;
    width: 75%;
    padding: 5px;
    text-align: left;
}

.player{
    width: 20%;
    padding: 5px;
}

.date{
    font-size: 11px;
    color: grey;
}

.country, .score{
   display: block;
   width: 20%;
}

.circles{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

#del{
    color: red;
    font-weight: bold;
}

.c{
    display: block;
    border-radius: 50%;
    border-width: 0;
    width: 40%;
    height: 7vh;
    margin: 2px;
    background-color: #fff;
}
